/* li {
    list-style: none;
}
li a {
    text-decoration: none;
    margin-left: 15px;
    padding: 5px;
    border: 1px solid black;
    border-radius: 10px;
}
ul {
    display: flex;
    flex-direction: row;

    padding: 0px;
    text-decoration: none;
}
li a.active,
li a:hover {
    color: red;
} */
