.header {
    margin: 5px;
    border: 1px solid red;
    display: flex;
    flex-direction: column;
}
.header h1{
    margin-bottom: 5px;
}
.info {
    display: flex;
    width: auto;
    justify-content: space-between;
}
.nav ul {
    display: flex;
    flex-direction: row;
    margin: 10px;
    text-decoration: none;
    
}
.nav{
    display: flex;
    align-items: center;
}
li {
    list-style: none;
    
}
li a {
    text-decoration: none;
    margin-left: 15px;
    padding: 5px;
    border: 1px solid black;
    border-radius: 10px;
}
.userInfo {
    display: flex;
    align-items: center;
    margin-right: 10px;
    justify-content: space-between;
}
.userInfo button{
    margin-right: 20px;
}
.userInfo p{
    margin-right: 10px;
    margin-left: 10px;
}
li a.active,
li a:hover {
    color: red;
}
svg{
    height: 30px;
    width: 30px;
    align-items: center;
}
.cart {
    text-decoration: none;
}

