.header {
    margin: 5px;
    border: 1px solid red;
    display: flex;
    flex-direction: column;
}
.info{
    display: flex;
    width: auto;
    justify-content: space-between;
}
.nav ul {
    display: flex;
    flex-direction: row;
    margin: 10px;
    text-decoration: none;
}
li {
    list-style: none;
}
li a {
    text-decoration: none;
    margin-left: 15px;
    padding: 5px;
    border: 1px solid black;
}
.userInfo{
    display: flex;
    align-content: end;
    margin: 10px;
    padding: 12px;
}
