/* .header {
    display: flex;
    flex-direction: column;
    border: 1px solid red;
    padding-bottom: 7px;
    margin-bottom: 7px;
    background-color: var(--clr-neutral-700);
}
.header h1 {
    margin-bottom: 5px;
    text-align: center;
    color: rgb(0, 38, 255);
}
.info {
    display: flex;
    justify-content: space-between;
}

.nav {
    display: flex;
    align-items: center;
}
.nav ul {
    display: flex;
    flex-direction: row;
    text-decoration: none;
    padding: 0;
    margin: 0;
}
li {
    list-style: none;
}
li a {
    display: block;
    text-decoration: none;
    margin-left: 15px;
    padding: 5px;
    border: 1px solid black;
    border-radius: 10px;
}
.userInfo {
    display: flex;
    align-items: center;
    margin-right: 10px;
    justify-content: space-between;
}
.userInfo button {
    margin-right: 15px;
    padding: 5px;
    border: 1px solid black;
    border-radius: 10px;
}
.userInfo p {
    margin-right: 10px;
    margin-left: 10px;
}
li a.active,
li a:hover {
    color: red;
}
svg {
    height: 30px;
    width: 30px;
    align-items: center;
}
.cart {
    text-decoration: none;
}

.mobile-menu-icon {
    display: none;
}

@media screen and (max-width: 768px) {
    .info {
        flex-direction: column;
        align-items: flex-start;
        position: relative;
    }
    .nav {
        display: none;
        width: 100%;
        text-align: left;
        padding: 10px;
    }

    .nav ul {
        flex-direction: column;
    }

    .nav li {
        margin-right: 0;
        margin-bottom: 10px;
    }

    .nav a {
        color: #fff;
    }

    .showMobileMenu .nav {
        display: block;
    }

    .mobile-menu-icon {
        display: block;
        cursor: pointer;
    }
} */
