html {
    background: rgb(250, 252, 250);
    position: relative;
    min-height: 100vh;
    margin: 0px;
}


#content-wrap {
    padding-bottom: 2.5rem; /* Footer height */
}
body{
    margin: 0px;
}
