* {
    box-sizing: border-box;
}

html {
    font-family: sans-serif;
    background: #fff;
}

body {
    margin: 0;
}
main {
    margin-top: 40px;
   
}
.products-layout {
    display: flex;
    flex-direction: row;
    height: 70vh;
    margin: 10px;
}
