.product-container {
    border: 1px solid black;
}
.product-form {
    display: flex;
    flex-direction: column;
    padding: 5px;
    margin: 5px 0 5px;
    border: 1px solid black;
}

/* button */
.button {
    cursor: pointer;
    font-weight: bold;
}

.button:hover {
    font-size: 1.2em;
    background-color: var(--clr-neutral-700);
}
