.product-container {
    border: 1px solid black;
}
.product-form {
}
.descriptions {
    overflow: auto;
    max-height: fit-content;
    width: 30%;
}
.image {
    height: 150px;
    width: 200px;
    object-fit: cover;
}
